{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Transaction Query</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
 <div>
     <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Previous transaction query' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Next transaction query' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>
        <br>

            <table class="table table-hover">
     <thead>
          <tr>

              <th scope="col">#</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Amount</th>
              <th>Currency</th>

              <th>Acquirer</th>
              <th>Merchant</th>

              <th>TransactionID</th>
              <th>ReferenceNo</th>
              <th>Status</th>
              <th>Message</th>
              <th>Type</th>
              <th>Creation</th>

          </tr>
     </thead>
     <tbody>
    {% for transaction_query in transaction_queries %}
           <tr>

               {% if page and per_page%}
                    <th scope="row">{{ loop.index + (page - 1) * per_page }}</th>
               {% else %}

               {% endif %}
               <td>{{ transaction_query.CustomerInfoBase.billingFirstName }}</td>
               <td>{{ transaction_query.CustomerInfoBase.billingLastName }}</td>
               <td>{{ transaction_query.FxMerchant.originalAmount }}</td>
               <td>{{ transaction_query.FxMerchant.originalCurrency }}</td>

               <td>{{ transaction_query.Acquirer.type }}</td>
               <td>{{ transaction_query.MerchantBase.name }}</td>

               <td>{{ transaction_query.Merchant.transactionId }}</td>
               <td>{{ transaction_query.Merchant.referenceNo }}</td>
               <td>{{ transaction_query.Merchant.status }}</td>
               <td>{{ transaction_query.Merchant.message }}</td>
               <td>{{ transaction_query.Merchant.type }}</td>
               <td>{{ transaction_query.Merchant.created_at }}</td>


           </tr>
    {% endfor %}


     </tbody>
      </table>

{% endblock %}